.wandering-pokemon {
	position: absolute;
	top: 0;
	left: 0;
	width: 96px;
	height: 96px;
	z-index: 1;
	pointer-events: auto;
	will-change: transform;
}

.wandering-pokemon-sprite {
	width: 100%;
	height: 100%;
	object-fit: contain;
	image-rendering: pixelated;
	cursor: pointer;
}
